---
name: "Test"
on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "*"
jobs:
  test:
    name: "Test"
    runs-on: "depot-ubuntu-24.04-small"
    steps:
      - uses: "actions/checkout@v6"
      - uses: "pnpm/action-setup@v4"
        with:
          run_install: false
      - name: "Install Node.js"
        uses: "actions/setup-node@v6"
        with:
          cache: "pnpm"
      - name: "Install dependencies"
        run: "pnpm install"
      - name: Run tests
        run: "pnpm test"
